body {
  background-image: url('http://www.infinitemonkeys.io.s3.amazonaws.com/monkey.gif');
  -webkit-animation: scroll 2.5s infinite linear;
  animation: scroll 2.5s infinite linear;
}
.fb-like{
  background-color: rgba(255,255,255,0.5);
  padding: 4px;
  position: fixed !important;
  border-radius:6px;
  top: 4px;
  left: 4px;
}

/* Animation for the background START */

@-webkit-keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 320px 0;
  }
}
@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 320px 0;
  }
}

/* END */

/* Style the inputted letters from the contributors START */

#messageWrapper {
  padding: 10px;
  color: lightgray;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 76%;
  margin-top: -3em;
  margin-left: -40%;
  background-color: rgba(0,0,0,0.8);
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  font-weight: 800;
  white-space: nowrap;
  height: 1em;
  overflow: hidden;
}

#messages {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

#input {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}

#input input {
	font-size: 0.5em;
	width: 316px;
}
/* END */